%h2 Class03 Answer:
%h2 Create a template of links intended to be shared and placed at the top of other templates

%p Inside of ~/fl12/templates I created a file named "mylinks.html":

.syntax
  %pre
    =render 'class03tm12a'
    
%p The above file-syntax is nothing special, it is a plain HTML.

%p The above file is reusable, however, because I placed it in the templates folder.

%p Any other HTML file in that folder could "include" mylinks.html with this syntax:

.syntax
  %pre
    %code {% include 'mylinks.html' %}

%p I show a simple demo in the next exercise.

%p
  %a(href='class03#tm')
    Class03 Lab

