%h2 Class03 Answer:
%h2 Deploy github.com/danbikle/flask10 to Heroku

%p I did this lab and it required 5 shell commands:

.syntax
  %pre
    =render 'class03her11'

%p I saw this:

.syntax
  %pre
    =render 'class03her12'

%p I tried this URL:
%p
  %a(href='https://blooming-badlands-27268.herokuapp.com/static/blog.html' target='x')
    https://blooming-badlands-27268.herokuapp.com/static/blog.html

%p I saw this:

%img(src='/class03/b272.png')

%hr/

%p
  %a(href='class03#fs')
    Class03 Lab

