%h2 Class01 Answer:
%h2 Check your Linux env for Anaconda

%p I did this lab and it was easy.

%p I issued some shell commands:

.syntax
  %pre
    =render 'class01ana0a'

%p I saw this:

.syntax
  %pre
    =render 'class01ana0b'

%p
  %a(href='class01#p1')
    Class01 Lab

