%h2 Class09 Answer:
%h2 Why use Django instead of Flask?

%p When I start building a new web-app, I use Flask.

%p If, however, I see a Django-app on github which fits a use-case I want to solve, I will use Django.

%p I can easily find other opinions:
%p
  %a(href='http://www.google.com/search?q=why+use+django+instead+of+flask' target='x')
    http://www.google.com/search?q=why+use+django+instead+of+flask
%hr/

%p
  %a(href='class09')
    Class09

