%h2 Class02 Answer:
%h2 Create plot of the prices

%p I did this lab and it was easy.

%p I wrote this script and ran it:

.syntax
  %pre
    =render 'class02i13'

%p
  %a(href='class02#p1')
    Class02 Lab

