%h2 Class04 Answer:
%h2 Ensure that you are running Anaconda Python:

%p When I issue the python command I should see this banner:

.syntax
  %pre
    %code.bash
      $ python
      Python 3.6.3 |Anaconda, Inc.| (default, Oct 13 2017, 12:02:49) 
      [GCC 7.2.0] on linux
      Type "help", "copyright", "credits" or "license" for more information.
      >>>

%p If I do not see that banner, or if I worry that my copy of Anaconda is corrupt, I should install or reinstall Anaconda with some shell commands:

.syntax
  %pre
    =render 'class04ana2'

%p
  %a(href='class04#p1')
    Class04 Lab

