%h2 Class02 Answer:
%h2 Update the first 4 prices, Set them to 0.1

%p I did this lab and it was easy.

%p I wrote this script and ran it:

.syntax
  %pre
    =render 'class02i16'

%p
  %a(href='class02#p1')
    Class02 Lab

