%h1 Class01
%p
  In Class01 we meet each other and get acquainted with Python.

%h2#q1 Questions:

%ul
  %li What is a Training Environment?
  %li What is a Development Environment?
  %li What is a Production Environment?
  %li Should I try to make and keep them similar?
  %li
    %a(href='/cclasses/class01env') Answer
  %li For the above environments, which OS works best:
  %li
    %ul
      %li windows (if yes, which version)?
      %li Mac (if yes, which version)?
      %li Ubuntu 16.04?
  %li
    %a(href='/cclasses/class01best') Answer
  %li For the above environments, which Python Distribution works best:
  %li
    %ul
      %li Plain Python?
      %li Anaconda Python?
  %li
    %a(href='/cclasses/class01anapy') Answer
      
  %li For the above environments, which code-UI works best:
  %li
    %ul
      %li Emacs?
      %li vim?
      %li gedit?
      %li
        %a(href='/cclasses/class01jup') Jupyter?
      %li 
        %a(href='/cclasses/class01charm') PyCharm?
      %li
        %a(href='/cclasses/class01spy') Spyder?
      %li Sublime Text 2?
  %li
    %a(href='/cclasses/class01cui') Answer
  %li Study the list of packages below:
  %li
    %a(href='https://docs.anaconda.com/anaconda/packages/py3.6_linux-64' target='x')
      https://docs.anaconda.com/anaconda/packages/py3.6_linux-64
  %li Which packages interest you the most?
  %li
    %a(href='/cclasses/class01pkg') Possible Answer
      
  %li Which packages do you already know about?  
  
%h2#labpk Lab Packages in the Lab Problems:

%p
  %a(href='http://www.google.com/search?q=python+pdb' target='x')
    google.com/search?q=python+pdb
%p
  %a(href='http://www.google.com/search?q=python+datetime' target='x')
    google.com/search?q=python+datetime
%p
  %a(href='http://www.google.com/search?q=python+jupyter' target='x')
    google.com/search?q=python+jupyter
%p  
  %a(href='http://www.google.com/search?q=python+spyder' target='x')
    google.com/search?q=python+spyder
%p  
  %a(href='http://www.google.com/search?q=python+pandas' target='x')
    google.com/search?q=python+pandas
%p  
  %a(href='http://www.google.com/search?q=python+matplotlib' target='x')
    google.com/search?q=python+matplotlib

%h2#p1 Lab Problems:
%ul
  %li Install VirtualBox on your laptop
  %li
    %a(href='/cclasses/class01vb') Answer
  %li Install ub16_201712a.ova inside VirtualBox on your laptop
  %li
    %a(href='/cclasses/class01ub16') Answer  
  %li Study gedit editor
  %li
    %a(href='/cclasses/class01ged1') Answer  
  %li Study Emacs editor
  %li
    %a(href='/cclasses/class01em1') Answer  
  %li Study Sublime Text 2
  %li Check your Linux env for Anaconda
  %li
    %a(href='/cclasses/class01ana0') Answer
  %li
    Install Anaconda Python on Linux
    %br/
    (You can skip this problem if Anaconda already installed)
  %li
    %a(href='/cclasses/class01ana1') Answer
  %li Install Anaconda Python on Mac
  %li Install Anaconda Python on Windows
  %li Study Jupyter
  %li
    %a(href='/cclasses/class01jupl') Answer
  %li Study Spyder
  %li
    %a(href='/cclasses/class01spy0') Answer
  
  %li Study PyCharm
  %li 
    %a(href='/cclasses/class01pyc0') Answer
  %li Download IBM Prices from Yahoo
  %li
    %a(href='/cclasses/class01y1') Partial Answer
  %li Plot IBM Prices For 2016-11
  %li
    %a(href='/cclasses/class01ply1') Answer
  %li Copy Values Between Some Common Data Types
  %li
    %a(href='/cclasses/class01dt1') Answer
%h2#hw1 Homework:
%p
  %a(href='/cclasses/class01hw') Questions
  