%h2 Class04 Answer:
%h2 Implement Recipe 2 described at the URL below:

%p
  %a(href='/cclasses/class04#r2' target='x')
    http://py4.us/cclasses/class04#r2
  
%p I created the script listed below:

.syntax
  %pre
    =render 'class04s15b'

%p I tested it:

.syntax
  %pre
    =render 'class04s15c'

%p It worked. Yay!

%p
  %a(href='class04#p1')
    Class04 Lab

