%h2 Class09 Answer:
%h2 
  Deploy
  %a(href='https://github.com/danbikle/dj101' target='x')
    https://github.com/danbikle/dj101
  to Heroku
     	
%p I did this lab from a VirtualBox instance inside my laptop.

%p I was using a windows 10 laptop so I enabled virtualization inside the BIOS:

%p
  %a(href='https://www.google.com/search?q=BIOS+enable+virtualization' target='x')
    https://www.google.com/search?q=BIOS+enable+virtualization
%p
  %a(href='https://www.google.com/search?q=BIOS+enable+virtualization&tbm=vid' target='x')
    https://www.google.com/search?q=BIOS+enable+virtualization&tbm=vid
  

%p I continued by installing VirtualBox on my laptop.

%p
  %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
    https://www.virtualbox.org/wiki/Downloads

%p Then, I downloaded a 10GB file: ub16jul21.ova

%p
  %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA' target='x')
    https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA
    
%p I installed the above file into VirtualBox by clicking on it.

%p After I booted the resulting host, I saw a login screen.

%p I authenticated with this:

%p User: ann, Password: a

%p
  With Firefox, I created an account on
  %a(href='https://www.heroku.com' target='x')
    https://www.heroku.com
  
%p Then, I issued some shell commands:

.syntax
  %pre
    =render 'class09dj101h1'
%p Notice that I used a shell command: "heroku"

%p I installed that shell command while building the VirtualBox ub16jul21.ova file.

%p If you want to install the heroku CLI on your laptop, you can find it with google:

%p
  %a(href='https://www.google.com/search?q=How+to+install+heroku+CLI' target='x')
    https://www.google.com/search?q=How+to+install+heroku+CLI
%p
  %a(href='https://devcenter.heroku.com/articles/heroku-cli#standalone' target='x')
    https://devcenter.heroku.com/articles/heroku-cli#standalone

%p Next, I could see HTML from Django at dj102.herokuapp.com

%p I saw this:

%img(src='/class09/dj102.png')
%hr/
%p
  %a(href='class09') Class09
