%h2 Class09 Answer:
%h2 What are the main features of Django?

%ul
  %li It serves static HTML, CSS, and JavaScript files
  %li It routes URL paths to templates
  %li It reuses HTML syntax between templates
  %li It passes data between Python and templates
  %li It passes data between Python and databases

%p
  %a(href='class09')
    Class09

