%h1 Class08
%p
  In Class08 we work with "Word2vec".

%h2#q1 Questions:

%ul
  %li Why is Word2vec called Word2vec?
  %li What is a corpus?
  %li What is a 'word embedding'?
  %li What is a vector?
  %li What is a vector space?
  %li What is a vector dimension?
  %li What is a two-layer neural network?
  %li What is the input of Word2vec?
  %li Who created Word2vec?
  %li When was Word2vec created?
  %li Why was Word2vec created?
  %li Which problems does Word2vec solve?
  %li What is continuous bag-of-words (CBOW)?
  %li What is continuous skip-gram?
  %li What is Distributional semantics?
  %li This phrase: "A word is characterized by the company it keeps" means what?
  %li With Python how to find popular words   in a text file?
  %li With Python how to find popular phrases in a text file?
  %li Given an incomplete phrase, how to find best words to complete it?
  %li Given a word, how to find phrases it could be used in?
  %li How to find synonyms for a word?
  %li How to find tenses of a verb?
  %li How to find misspelled words?

%p
  %a(href='class08path') A Path towards some answers to above questions
%hr/

%h2#lab Lab:
%ul
  %li Access an Ubuntu 16 training environment.
  %li
    %a(href='class08ub') Answer
  %li Maybe uninstall your copy of anaconda.
  %li
    %a(href='class08un') Answer
  %li Maybe Install Anaconda 5.0.1
  %li
    %a(href='class08ani') Answer
  %li Install TensorFlow inside of Anaconda.
  %li
    %a(href='class08tfi') Answer
  %li git clone TensorFlow-repo from github.com
  %li
    %a(href='class08gc') Answer
  %li In the repo, locate script: word2vec_basic.py
  %li
    %a(href='class08w2b') Answer
  %li Run the script.
  %li
    %a(href='class08run') I ran it
  %li Try to understand output from the script.
  %li
    %a(href='class08try') Answer
  %li Study syntax in the script.
  %li
    %a(href='class08syn1') Answer
  %li Locate confusing syntax in the script.
  %li Try to get information about any confusing syntax.
  %li Given an incomplete phrase, how to find best words to complete it, with Python?
  
  

