%h1 Class09
%p
  In Class09 we work with Django:
  
%p
  %a(href='https://docs.djangoproject.com' target='x')
    https://docs.djangoproject.com
  

%h2#q1 Questions:

%ul
  %li What is Django?
  %li
    %a(href='class09what') Answer
  
  %li Why use Django?
  %li
    %a(href='class09why') Answer
  
  %li Why use Django instead of Flask?
  %li
    %a(href='class09why2') Answer
  
  %li What are the main features of Django?
  %li
    %a(href='class09mf') Answer

  %li Where can I find a list of repositories which contain Django apps?
  %li
    %a(href='class09repos') Answer
  %li
    In Django, what does this syntax do:
    .syntax
      %pre
        %code {% extends "base.html" %}
  %li
    %a(href='class09ext') Answer
        
  %li
    In Django, what does this syntax do:
    .syntax
      %pre
        %code {% block content %}{% endblock %}
  %li
    %a(href='class09block') Answer

  %li
    In Django, what does this syntax do:
    .syntax
      %pre
        %code {% include "contact/coc_form.html" %}

	
  %li
    %a(href='class09include') Answer
        	
  %li
    In Django, what does this file do:
    %br/
    %a(href='https://github.com/django/djangoproject.com/blob/master/contact/urls.py' target='x')
      https://github.com/django/djangoproject.com/blob/master/contact/urls.py
	
  %li
    %a(href='class09u1') Answer
     	
  %li
    In Django, what does this file do:
    %br/
    %a(href='https://github.com/danbikle/dj101/blob/master/gettingstarted/urls.py    ' target='x')
      https://github.com/danbikle/dj101/blob/master/gettingstarted/urls.py
  
  %li
    %a(href='class09u2') Answer
   	
  %li
    In Django, what does this file do:
    %br/
    %a(href='https://github.com/danbikle/dj101/blob/master/hello/views.py' target='x')
      https://github.com/danbikle/dj101/blob/master/hello/views.py
  
  %li
    %a(href='class09v1') Answer
     	
  %li
    Deploy
    %a(href='https://github.com/danbikle/dj101' target='x')
      https://github.com/danbikle/dj101
    to a Linux-VirtualBox

  %li
    %a(href='class09dj101a') Answer
     	
  %li
    Deploy
    %a(href='https://github.com/danbikle/dj101' target='x')
      https://github.com/danbikle/dj101
    to Heroku

  %li
    %a(href='class09dj101h') Answer

  %li
    Deploy
    %a(href='https://github.com/django/djangoproject.com' target='x')
      https://github.com/django/djangoproject.com
    to Ubuntu 16.04 VirtualBox host

  %li
    %a(href='class09djp10') Answer
  %li Find an effective step by step Django tutorial
  %li
    %a(href='class09step1') Answer
     	