%h2 Class08 Answer:
%h2 Maybe Uninstall your copy of anaconda.
%p If you want to uninstall it, this is easy:
.syntax
  %pre
    %code.bash rm -rf ~ann/anaconda3/
%p
  %a(href='class08#lab')
    Class08
