%h2 Class01 Lab Answer:
%h2 Study Emacs editor

%p For some students, the Emacs editor is a good choice.
%p It is NOT easy to use.

%p I start the editor by clicking an icon on the left:

%img(src='/images/class01em2.png')

%p I should see something like this window appear:

%img(src='/images/class01em3.png')
%hr/

%p Emacs offers different ways to open a file:
%ol
  %li
    %img(src='/images/class01op1.png')
    %hr/

  %li
    %img(src='/images/class01op2.png')
    %hr/
  %li
    %img(src='/images/class01op3.png')
    %hr/


%p I should open a file called ur.py

%p I should type Python into it, save it, and then run the Python from a terminal window:

%img(src='/images/class01em4.png')
%hr/
%img(src='/images/class01ter2.png')
%hr/

%p Often I like to run a shell inside of Emacs:
%img(src='/images/class01es1.png')
%hr/
%img(src='/images/class01es2.png')
%hr/

%p The best way to learn Emacs is to spend two hours with the Tutorial:
%img(src='/images/class01es3.png')
%hr/

%p Emacs runs on Linux, Mac, and Windows.
%p When I develop software on Windows, I find Emacs extremely useful.

%p Downloads and more:
%ul
  %li
    %a(href='https://www.gnu.org/software/emacs/' target='x')
      https://www.gnu.org/software/emacs/
  %li
    %a(href='https://www.gnu.org/software/emacs/download.html' target='x')
      https://www.gnu.org/software/emacs/download.html

%p
  %a(href='class01#p1')
    Class01 Lab
