%h2 Class04 Answer:
%h2 Write a script which serves JSON affected by URL-path-tokens.

%p I created the script listed below:

.syntax
  %pre
    =render 'class04s12b'

%p I tested it:

.syntax
  %pre
    =render 'class04s12c'

%p It worked. Yay!

%p
  %a(href='class04#p1')
    Class04 Lab

