%h2 Class02 Answer:
%h2 Compare a Python Comprehension to a For-Loop

%p I did this lab and it was easy.

%p I wrote this script and ran it:

.syntax
  %pre
    =render 'class02co1a'

%p
  %a(href='class02#p2')
    Class02 Lab

