%h2 A Path towards some answers
%ul
  %li  
    %a(href='https://en.wikipedia.org/wiki/Word2vec' target='x')
      https://en.wikipedia.org/wiki/Word2vec
  %li  
    %a(href='https://en.wikipedia.org/wiki/Word_embedding' target='x')
      https://en.wikipedia.org/wiki/Word_embedding
  %li  
    %a(href='https://deeplearning4j.org/word2vec.html' target='x')
      https://deeplearning4j.org/word2vec.html
  %li  
    %a(href='https://www.tensorflow.org/tutorials/word2vec' target='x')
      https://www.tensorflow.org/tutorials/word2vec
  %li  
    %a(href='https://www.analyticsvidhya.com/blog/2017/06/word-embeddings-count-word2veec/' target='x')
      https://www.analyticsvidhya.com/blog/2017/06/word-embeddings-count-word2veec/
  %li  
    %a(href='https://medium.com/@Synced/word2vec-googles-new-leap-forward-on-the-vectorized-representation-of-words-e8e505a31595' target='x')
      https://medium.com/@Synced/word2vec-googles-new-leap-forward-on-the-vectorized-representation-of-words-e8e505a31595
  %li  
    %a(href='http://mccormickml.com/2016/04/19/word2vec-tutorial-the-skip-gram-model/' target='x')
      http://mccormickml.com/2016/04/19/word2vec-tutorial-the-skip-gram-model/
  %li  
    %a(href='http://mccormickml.com/2017/01/11/word2vec-tutorial-part-2-negative-sampling/' target='x')
      http://mccormickml.com/2017/01/11/word2vec-tutorial-part-2-negative-sampling/
  %li  
    %a(href='http://mccormickml.com/2016/04/27/word2vec-resources/' target='x')
      http://mccormickml.com/2016/04/27/word2vec-resources/
  %li  
    %a(href='https://towardsdatascience.com/learn-word2vec-by-implementing-it-in-tensorflow-45641adaf2ac?gi=9a484de42634' target='x')
      https://towardsdatascience.com/learn-word2vec-by-implementing-it-in-tensorflow-45641adaf2ac?gi=9a484de42634
  %li  
    %a(href='https://towardsdatascience.com/a-non-nlp-application-of-word2vec-c637e35d3668' target='x')
      https://towardsdatascience.com/a-non-nlp-application-of-word2vec-c637e35d3668
  %li  
    %a(href='https://blog.acolyer.org/2016/04/21/the-amazing-power-of-word-vectors/' target='x')
      https://blog.acolyer.org/2016/04/21/the-amazing-power-of-word-vectors/
  %li  
    %a(href='https://www.deeplearningweekly.com/blog/demystifying-word2vec' target='x')
      https://www.deeplearningweekly.com/blog/demystifying-word2vec
%hr/
%p
  %a(href='class08')
    Class08
