%h2 Class02 Answer:
%h2 Delete the list of prices

%p I did this lab and it was easy.

%p I wrote this script and ran it:

.syntax
  %pre
    =render 'class02i18'

%p
  %a(href='class02#p1')
    Class02 Lab

