%h2 Class08 Answer:
%h2 Access an Ubuntu 16 training environment.
%p Answer: ub16_2018_0206.ova 13GB
%p
  %a(href='https://drive.google.com/file/d/10p1W7kqzxE69jODhUzcb-qi-osN4htO-' target='x')
    https://drive.google.com/file/d/10p1W7kqzxE69jODhUzcb-qi-osN4htO-

%p User: ann, Password: a
%hr/
%p
  %a(href='class08#lab')
    Class08
