%h2 PyCharm?

%p I downloaded PyCharm from the URL displayed below:
%p
  %a(href='https://www.jetbrains.com/pycharm/download' target='x')
    https://www.jetbrains.com/pycharm/download

%p It was easy to install.

%p I started it and created a project and a simple script.

%p it seemed a bit slow and sluggish.

%p Then it grabbed hold of both the CPUs in my Linux host and pegged them at 100%.

%p Then it became unresponsive to my mouse.

%p After five minutes of listening to the fan on my laptop, I killed PyCharm and removed it.

%p I did see PyCharm used by one of my students in December.

%p It seemed to work well for him and I liked its code completion features.

%p
  %a(href='class01#q1')
    Class01 Questions
