%h2 Class10 Answer:
%h2 Deploy reqp to Heroku.

%p I did this lab by typing three lines of shell syntax:

.syntax
  %pre
    %code.bash
      cd ~reqp/reqp
      heroku create
      git push heroku master

%p
  %a(href='class10#lab')
    Class10
