%h2 Class01 Answer:
%h2 Study Jupyter

%p After I installed Anaconda on my laptop, I started Jupyter with a simple shell command:

.syntax
  %pre
    %code.bash jupyter notebook


%p I saw this:

.syntax
  %pre
    =render 'class01jupl2'

%p Also Jupyter started a browser for me and connected it to a server.

%p I saw this:

%img(src='/class01/jupl3.png')

%p The above browser was showing me a view of the folders in my home folder.

%p Next I started work on a new notebook by clicking the New-button on the RHS:

%img(src='/class01/jupl5.png')

%br/
%br/
%br/

%p I saw this:

%img(src='/class01/jupl6.png')

%br/
%br/
%br/

%p I typed in a simple Python command and pressed ctrl-Enter.

%p I saw this:

%img(src='/class01/jupl7.png')

%br/
%br/
%br/

%p I considered that good evidence that Jupyter was running okay on my laptop.

%p I am not a big fan of Jupyter but I think you should know how to use it.

%p You might encounter it at work or during a presentation.

%p It is easy to get help with Jupyter:

%p
  %a(href='http://www.google.com/search?q=python+Jupyter+tutorial' target='x')
    http://www.google.com/search?q=python+Jupyter+tutorial

%img(src='/class01/jupl9a.png')

%br/
%br/
%br/

%p
  %a(href='class01#p1')
    Class01 Lab

