%h2 Class04 Lab Answer:
%h2 Install ub16_2018_0109.ova inside VirtualBox on your laptop.

%p This is easy.

%p Download this file and then click on it:

%p
  %a(href='https://drive.google.com/file/d/1uqhG7LLJl76DS6Mu8BNe5hnzX5URgXVL' target='x')
    ub16_2018_0109.ova
    
%p Be patient, maybe do this at home before class; this is a large file: 12GB

%p The password for the ann account is 'a'.

%p
  The Operating System in this virtualbox is Ubuntu 16.04 which should eventually be better
  than Ubuntu 14.04.

%p This virtualbox should contain recent versions of these languages:
%ul
  %li Python
  %li Ruby
  %li Java
  %li R
  %li Node.js

%p
  %a(href='class04#p1')
    Class04 Lab
