%h2 Class01 Answer:

%p For the above environments, which OS works best:

%ul
  %li windows (if yes, which version)?
  %li Mac (if yes, which version)?
  %li Ubuntu 16.04?

%p It makes sense to train on windows if you will later write production Python software which will run on windows.  Otherwise you should try to avoid windows.

%p It makes sense to train on Mac if you will later write production Python software which will run on Mac.

%p A useful feature of Mac is that it offers a Bash interface which is nearly identical to the Bash interface on Linux.

%p If you are writing Python which will eventually get deployed to Linux in Production, you could use Mac as a training environment.  After you are trained, and you have started software development, you should switch switch to Linux (Ubuntu 16.04 probably).

%p
  %a(href='class01#q1')
    Class01 Questions

