%h1 Class07
%p
  In Class07 we work with Seaborn:
  
%p
  %a(href='https://seaborn.pydata.org/examples/index.html' target='x')
    https://seaborn.pydata.org/examples/index.html

%h2#q1 Questions:

%p What is Seaborn?
%p How to use Seaborn?
%p Why use Seaborn?
%p Alternatives to Seaborn?

%hr/

%h2#qs Lab:
%ul
  %li Copy the scripts below into a folder in your training environment.
  %li Run each script.
  %li Add comments to each script which describe something you want to remember.
  %li Make a copy of each script.
  %li Make each copy do something more interesting than the original.
  %li Enhance class01,02,03,04,05,06 so they use Seaborn in some interesting way.
  %li Study content here:
  %li
    %a(href='https://seaborn.pydata.org/examples/index.html' target='x')
      https://seaborn.pydata.org/examples/index.html
  %li Try to run the above samples in your training env.
  %li Use the knowledge from that effort to Enhance class01,02,03,04,05,06
  %li Push all your work to a github repo.
  %li Use Flask to create a web-portfolio of your work and knowledge.
  %li Enhance your resume so it has links to your web-portfolio and github repo.
  %li Place your resume in the static-folder of your Flask-web-portfolio-app.
  %li Write a static index.html page for Flask-web-portfolio-app.
  %li Deploy Flask-web-portfolio-app to Heroku.
  %li Transform all that effort into a set of interview questions.
  %li Write out answers to the questions and think about them.
  %li Look for local Python jobs.
  %li Apply to local Python jobs and ensure the hiring managers see the following things:
  %li
    %ul
      %li Link to Your Resume
      %li Link to Flask-web-portfolio-app
      %li Link to Your github repo
      
%hr/
.syntax
  %pre
    =render 'class07sb10'

%hr/
.syntax
  %pre
    =render 'class07sb11'

%hr/
.syntax
  %pre
    =render 'class07sb12'

%hr/
.syntax
  %pre
    =render 'class07sb13'

%hr/
.syntax
  %pre
    =render 'class07sb14'

%hr/
.syntax
  %pre
    =render 'class07sb15'

%hr/
.syntax
  %pre
    =render 'class07sb16'

%hr/
.syntax
  %pre
    =render 'class07sb17'

%hr/
.syntax
  %pre
    =render 'class07sb18'

%hr/
.syntax
  %pre
    =render 'class07sb19'
%hr/
.syntax
  %pre
    =render 'class07sb30'
%hr/
.syntax
  %pre
    =render 'class07sb31'
%hr/
.syntax
  %pre
    =render 'class07sb32'

%hr/
.syntax
  %pre
    =render 'class07sb40'


%h2#hw1 Homework
%p
  %a(href='/cclasses/class07hw') Questions
  
