%h2 Spyder?

%p Spyder is available as a shell command after I install Anaconda.

%p So, to start it, I just type the shell command: spyder

%p I should see something like this:
%img(src='/class01/spyd.png')

%p I like Spyder.

%p It offers code completion and useful syntax high-lighting.

%p It's UI is too confusing and busy for a Python beginner.

%p For a beginner, I think that a plain shell and a plain editor is a better learning experience.

%p If you have accumulted more than 10 hours of Python training, you might consider studying Spyder as an editor of Python syntax.

%p
  %a(href='class01#q1')
    Class01 Questions
