%h2 Class03 Homework Questions

%ul
  %li
    What is Flask?
    
  %li
    Why should I know Flask?
    
  %li
    What is the simplest way possible to use Flask?
    
  %li
    What is the simplest enhancement I can make to a Flask app?
    
  %li
    What is favicon.ico?
    
  %li
    How to enhance Flask app to serve favicon.ico?
    
  %li
    What kind of files should I put in the static folder of a Flask app?
    
  %li
    How to change the port of a Flask app?
    
  %li
    Why change the port of a Flask app?
    
  %li
    How to deploy a Flask app to Heroku?
    
  %li
    What is the Heroku client?
    
  %li
    How to login to the Heroku client?
    
  %li
    In web technology, what is routing?
    
  %li
    How does Flask implement routing?
    
  %li
    What is a Flask template?
    
  %li
    Why should I use a Flask template?
    
  %li
    Where should Flask templates reside?
    
  %li
    What is a URL?
    
  %li
    What is a URL path token?
    
  %li
    What is a URL parameter?
    
  %li
    Why does web technology use/need URL path tokens?
    
  %li
    Why does web technology use/need URL parameters?
    
  %li
    How to copy data from Yahoo into my Flask app?
    
  %li
    How to copy data from Yahoo into my Flask app then into my browser?
    
  %li
    What is BeautifulSoup?
    
  %li
    Why use BeautifulSoup?  
%p
  %a(href='/cclasses/class03') Class03
