%h2 Class02 Answer:
%h2 Use a For-Loop to sort the prices for plotting

%p I did this lab and it was easy.

%p I wrote this script and ran it:

.syntax
  %pre
    =render 'class02f12'

%p
  %a(href='class02#p2')
    Class02 Lab

