%h2 Class09 Answer:
%h2 
  Deploy
  %a(href='https://github.com/danbikle/dj101' target='x')
    https://github.com/danbikle/dj101
  to a Linux-VirtualBox
     	
%p I did this lab on my laptop.

%p I was using a windows 10 laptop so I enabled virtualization inside the BIOS:

%p
  %a(href='https://www.google.com/search?q=BIOS+enable+virtualization' target='x')
    https://www.google.com/search?q=BIOS+enable+virtualization
%p
  %a(href='https://www.google.com/search?q=BIOS+enable+virtualization&tbm=vid' target='x')
    https://www.google.com/search?q=BIOS+enable+virtualization&tbm=vid
  

%p I continued by installing VirtualBox on my laptop.

%p
  %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
    https://www.virtualbox.org/wiki/Downloads

%p Then, I downloaded a 10GB file: ub16jul21.ova

%p
  %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA' target='x')
    https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA
    
%p I installed the above file into VirtualBox by clicking on it.

%p After I booted the resulting host, I saw a login screen.

%p I authenticated with this:

%p User: ann, Password: a

%p Then, I issued some shell commands:

.syntax
  %pre
    =render 'class09dj101b'

%p Above, notice the pip command.

%p Usually I use conda instead of pip.

%p For dj101, I prefer to use pip (because conda cannot install dj-database-url==0.4.1).

%p Next, I could see HTML from Django at http://localhost:8000

%p I saw this:

%img(src='/class09/dj101c.png')
%hr/
%p
  %a(href='class09') Class09
