%h1 Class10
%p
  In Class10 we work with the Requests package:
%p
  %a(href='http://docs.python-requests.org/en/latest/index.html' target='x')
    http://docs.python-requests.org/en/latest/index.html

%p And we see some other packages:
%p
  %a(href='https://docs.python.org/3/library/re.html' target='x')
    https://docs.python.org/3/library/re.html
  
%p
  %a(href='https://docs.python.org/3/library/string.html' target='x')
    https://docs.python.org/3/library/string.html
  
%p
  %a(href='https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files' target='x')
    https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files

%h2#q1 Questions:

%ul
  %li Why is the Requests package called the Requests package?
  %li How to pass a command line arg to a Python script?
  %li What does os.system() do?
  %li In web-tech, what is a user-agent?
  %li In web-tech, what is a header?
  %li What is 'UNIX-time'?
  %li In Python how to get UNIX-time from a date?
  %li In web-tech, how to send parameters to a web server?
  %li In Python how to read a line from a file?
  %li In Python how to drive a loop with lines in a file?
  %li In Python if I call split() with no params on a string, what happens?
  %li In Python requests how to get and store a cookie?
  %li What strategy does Yahoo use to force users to see ads while getting prices?
  %li What is UTF-8?
  %li In web-tech, what is a status code?
  %li In Regular Expressions, what does it mean to 'match'?
  %li In Regular Expressions, what is a group?
  %li In Python how to copy a string out of a Regular Expression group?
  %li In Python how to write a string to a file?
  
%hr/

%h2#lab Lab:
%ul
  %li Access an Ubuntu 16 training environment.
  %li I like this one:
  %li
    %ul
      %li ub16jul21.ova (Ubuntu 16.04 VirtualBox Instance 10 GB):
      %li
        %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA' target='x')
          https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA
      %li login: ann, pass: 'a'

  %li Issue shell commands to create Linux account: 'reqp'.
  %li
    %a(href='class10useradd') Answer
  %li Login as reqp:
  %li
    %ul
      %li ssh -AY reqp@localhost
      %li or
      %li login via the desktop-GUI
      %li After I login, I like to get a copy of .emacs from the ann-account:
      %li
        .syntax
          %pre
            %code cp ~ann/.emacs ~reqp/
            
  %li Install Anaconda3-4.4.0-Linux-x86_64.sh
  %li
    %a(href='class10ana440') Answer
  %li Clone this repo:
  %li
    %a(href='https://github.com/danbikle/reqp' target='x')
      https://github.com/danbikle/reqp
  %li
    %a(href='class10clone') Answer
  %li Use a script in the reqp repo to get prices from Yahoo.
  %li
    %a(href='class10get') Answer
  %li Serve the prices using Flask.
  %li
    %a(href='class10flask') Answer

  %li Install the Heroku CLI in the reqp Linux account.
  %li
    %a(href='class10her1') Answer
  %li
    Create a throw-away e-mail account on
    %a(href='https://mail.com' target='x')
      https://mail.com
    %br/
    I avoid using a 'real' e-mail account on the lab computers.
    %br/
    A 'real' e-mail account on a laptop should be okay.
  %li
    Use e-mail account to create account here:
    %a(href='https://heroku.com' target='x')
      https://heroku.com
  %li Deploy reqp to Heroku.
  %li
    %a(href='class10her2') Answer
  %li In ~reqp/reqp/ find where the CSV files reside.
  %li For each ticker create a CSV file containing 'unsplit' prices.
  %li Test that Flask can serve these 'unsplit' prices.
  %li Push your enhancements to heroku.
  %li Write a crontab entry and cron script which updates your heroku site at 8pm M-F.
  
  

  
