%h2 Class01 Partial Answer:
%h2 Download IBM Prices from Yahoo

%p I did this lab and it was easy.

%p I wrote this script:

.syntax
  %pre
    =render 'class01y2'

%p I ran the script and saw this:

.syntax
  %pre
    =render 'class01y3'

%p The above output should teach me these techniques:

%ul
  %li I can use the ls command to verify my script exists.
  %li I can use the which command to verify I am using Anaconda-Python.
  %li
    I run a Python script with syntax like this:
    .syntax
      %pre
        %code.bash python pdr1.py
  %li
    The Python debugger is called with this syntax:
    .syntax
      %pre
        %code.python pdb.set_trace()
  %li
    The Python debugger will stop my script and allow me to interact with it.
  %li The list command tells me where I am inside my script.
  %li The list command points to the next line which will run.
  %li The n command runs the next line (and then stops).
  %li I can use prices_df to capture the CSV data.
  %li I can use prices_df.head() to see some of the data.
  %li I can use prices_df.to_csv() to copy the data into a file.
  %li I can ask the (Pdb)-prompt to run any Python command I want.
  %li The data in prices_df is like spreadsheet data.
  %li After the script is finished I can use the Linux-head command to see some of the data.
  
%p
  %a(href='class01#p1')
    Class01 Lab

