%h2 Class08 Answer:
%h2 Install Anaconda 5.0.1
%p This is easy:
.syntax
  %pre
    %code.bash
      wget https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh
      bash Anaconda3-5.0.1-Linux-x86_64.sh
%p
  %a(href='class08#lab')
    Class08
