%h2 Class08 Answer:
%h2 git clone TensorFlow-repo from github.com
%p This is easy:
.syntax
  %pre
    %code.bash
      cd ~
      git clone https://github.com/tensorflow/tensorflow

%p
  %a(href='class08#lab')
    Class08
