%h2 Class09 Answer:
%h2 In Django, what does this syntax do:

.syntax
  %pre
    %code {% block content %}{% endblock %}

%p I found the above syntax in this file:

%p
  %a(href='https://github.com/danbikle/dj101/blob/master/hello/templates/base.html' target='x')
    https://github.com/danbikle/dj101/blob/master/hello/templates/base.html
    
%p When I see the above syntax I think of an HTML sandwich.

%p I have HTML-bread on the outside and HTML-syntax inside.

%p I place the above syntax in the outside file and it helps me declare that "base.html" is the bread.

%p If I want to see example syntax inside the HTML-sandwich, I look here:
%p
  %a(href='https://github.com/danbikle/dj101/blob/master/hello/templates/index.html' target='x')
    https://github.com/danbikle/dj101/blob/master/hello/templates/index.html
  
%p The above file declares that it wants to reuse the syntax in base.html

%p To answer the original question I say,

.syntax
  %pre
    %code {% block content %}{% endblock %}
    
%p allows me to reuse the syntax inside "base.html" to surround any HTML-template.

%p If I want base.html to surround a specific HTML-template, I would use this syntax:

.syntax
  %pre
    %code {% include "specific.html" %}

%p Remember, code-reuse is one of the main features of Django:
%p
  %a(href='class09mf') Django Main Features
%hr/

%p
  %a(href='class09') Class09
