%h2 Class09 Answer:
%h2 Find an effective step by step Django tutorial

%p While I was studying djangoproject.com, I found a tutorial which looks good:

%p
  %a(href='https://docs.djangoproject.com/en/1.11/intro/tutorial01/' target='x')
    https://docs.djangoproject.com/en/1.11/intro/tutorial01/
%hr/
%p
  %a(href='class09') Class09
