%h2 Class01 Answer:
%p Which code-UI works best?
%ul
  %li vim?
  %li Emacs?
  %li gedit?
  %li Jupyter?
  %li PyCharm?
  %li Spyder?
  %li Sublime Text 2?

%p For me, the best code-UI is Emacs.

%p On Ubuntu, Emacs is easy to install with one shell command:
.syntax
  %pre
    %code.bash sudo apt-get install emacs
%p After you install Emacs, it is easy to learn.
%p You just type emacs at a shell prompt.
%p An Emacs window should come up.
%p Just click the Help link and then walk through all the steps in the built-in tutorial.
%p The features I mostly use in Emacs are listed below:
%ul
  %li List everything I've worked on today sorted by time
  %li Open new or existing file
  %li Open new or existing folder
  %li Run shell commands
  %li Create and name different shells
  %li Edit remote files and folders with my local Emacs
%p The above features map well to a typical development iteration:
%ul
  %li Look for work to do in a Project Management App.
  %li Find an enhancement which needs to be added to a Production app.
  %li Clone the Production app to a folder in my Development VirtualBox host.
  %li Add and/or edit software
  %li Ensure my enhancements pass tests and do not break previous tests
  %li Commit work to Production-app-repo
  %li Deploy
  %li Run tests against Production-app
%p Most of the above iteration usually requires that I interact with Shells, Folders, and Files in both Development and Production hosts.
%p Emacs is perfectly suited for the above type of interaction.

%p Other tools, PyCharm, Jupyter, Spyder for example, focus me on syntax inside of files.
%p For some training scenarios, this might be acceptable.

%p But, I see training as more than just learning syntax.

%p When I train, I should be in the exact same environment I will be in after I am trained.
%p Emacs fits this idea well, other tools do not.

%p I wrote an Emacs cheat-sheet which contains information I have memorized:

%p
  %a(href='class01emacsCheat')
    Emacs cheat-sheet

%hr/

%p
  %a(href='class01#q1')
    Class01 Questions

