%h2 Class09 Answer:
%h2 What is Django?

%ul
  %li Django is a collection of Python packages.
  %li Python programmers use Django to build and deploy web-apps.
  
%p
  %a(href='class09')
    Class09

