%h2 Class01 Answer:
%p Which Python Distribution works best?

%ul
  %li Plain Python?
  %li Anaconda Python?

%p Anaconda Python is best.

%p Installing plain Python is not very complicated.

%p After that, though, I may want to enhance plain Python by installing packages.

%p Some of those packages might depend on OS libraries which I would then need to install.

%p I see plain Python is a path towards complexity.

%p Anaconda shields me from this complexity.

%p Anaconda is built by a team of engineers who have knowledge, training, and experience which is far superior to my experience in the area of installing Python.

%p It makes sense that I reuse their hard work rather than trying to duplicate it.

%p Also Anaconda makes it easier for me to close the gap between my development environment and the Production environment.

%p After I install Anaconda 4.2.0 for Linux on my Linux laptop, and I install Anaconda 4.2.0 for Linux on the Production host, then I have removed a significant source of bugs.

%p People will see me as ineffective if I deliver software bugs which are be easily avoided.

%p Anaconda helps me avoid bugs caused by Python-gaps between Training, Development and Production environments.

%p The shell commands I use to install Anaconda on Linux are listed below:
.syntax
  %pre
    =render 'class01ana2'

%p
  %a(href='class01#q1')
    Class01 Questions

