%h2 Homework Questions

%ul
  %li
    Why do you want to learn Python?
    
  %li
    How to describe Top-Down learning?
    
  %li
    How to describe Bottom-Up learning?
    
  %li
    Should a Project-Based Python Programming class mostly use Top-Down learning?
    
  %li
    What is a Python Package?
    
  %li
    Which Python Packages interest you the most and why?
    
  %li
    Where is a good list of Python Package descriptions?
    
  %li
    What is a good way for two developers to work on shared software?
    
  %li
    How do you describe your training environment?
    
  %li
    Is your training environment optimal for learning Project-Based Python Programming?
    
  %li
    Is your training environment optimal for working on shared software with other students?
    
  %li
    How to run a Python script from a Linux shell prompt?
    
  %li
    What is Anaconda Python?
    
  %li
    Describe how to install Anaconda Python into your training environment?
    
  %li
    Which editor should you use to write Python?
    
  %li
    Why did you chose your editor?
    
  %li
    Which Python editors do you want to learn more about?
    
  %li
    What is VirtualBox?
    
  %li
    Why is VirtualBox useful?
    
  %li
    What are common obstacles of VirtualBox?
    
  %li
    If you like VirtualBox and find it useful, what are some alternatives to VirtualBox?
    
  %li
    When you write Python software, how will you backup your work?
    
  %li
    How to use Python to download IBM prices from Google?
    
  %li
    How to use Python to download IBM prices from Yahoo?
    
  %li
    What is Pandas?
    
  %li
    What is pandas-datareader?
    
  %li
    What is datetime?
    
  %li
    How to convert a tuple of integers into a datetime object?
    
  %li
    How to convert a string into a datetime object?
    
  %li
    What is pdb?
    
  %li
    How to create a CSV file from a Pandas DataFrame?
    
  %li
    How to see the last five rows of a Pandas DataFrame?
    
  %li
    Inside the Python Debugger, what are your 4 favorite commands?
    
  %li
    What is confusing about the Python Debugger?
    
  %li
    What is easy about the Python Debugger?
    
  %li
    What is matplotlib?
    
  %li
    What is a Pandas Series?
    
  %li
    With Pandas, is a Series inside a DataFrame or is a DataFrame inside a Series?
    
  %li
    How to create a Series full of Booleans?
    
  %li
    Why is a Series full of Booleans useful?
    
  %li
    How to get a list of columns from a DataFrame?
    
  %li
    How to create a copy of a DataFrame?
    
  %li
    Does a DataFrame have an object called an index?
    
  %li
    If yes, how to see the index?
    
  %li
    What are two ways to concatenate three strings?
    
  %li
    Which way is slow and which way is fast?
    
  %li
    How is datetime.strptime() different than datetime.strftime()?
    
  %li
    After you do this homework, what would be a simple Python-Project you could do in 90 minutes?
    
  %li
    After you do that project, how would you share it with your fellow students?
