%h2 Class02 Some Answers to "Interesting" Lab:

%p I wrote a script to do this lab.

%p You should copy this script to your training environment and add print statements to help you see what it is doing.

%p Another option is to step through it in a debugger.

.syntax
  %pre
    =render 'class02intr1'

%p
  %a(href='class01#interesting')
    Class01 Lab

