%h2 Class07 Homework Questions

%ul
  %li
    What is Seaborn?

  %li
    Why use Seaborn?
  %li
    The syntax below does what?
    .syntax
      %pre
        %code.python numpy.linspace(0, 14, 100)
  %li
    Why might the above syntax be useful?
  %li
    What is a common alias for matplotlib.pyplot?

  %li
    When I call numpy.sin(x), what is the assumed unit-of-measure of x?
  %li
    The syntax below does what?
    .syntax
      %pre
        %code.python np.random.normal(size=(20, 6))
  %li
    Why might the above syntax be useful?
  %li
    The syntax below creates what?
    .syntax
      %pre
        %code.python np.arange(6)
  %li
    What is an alternative way to create the same object?
  %li
    This demo:
    %br/
    %a(href='https://seaborn.pydata.org/examples/anscombes_quartet.html    ' target='x')
      https://seaborn.pydata.org/examples/anscombes_quartet.html
    %br/
    Appears to do nothing on my laptop.  How to fix that?
  %li
    The syntax below does what?
    .syntax
      %pre
        %code.python sns.lmplot()
  %li
    Which datasets are available in Seaborn?
    
  %li
    What is a facet-grid?
  %li
    Many Seaborn methods accept a parameter named: 'hue'.  What is 'hue'?
  %li
    What is a boxplot?
  %li
    In Seaborn, how does axes_style() relate to set_style() ?
  %li
    In Seaborn, what is a color palette?
  %li
    What is a univariate distribution?
  %li
    What is a bivariate distribution?
    
    