%h2 Class09 Answer:
%h2 Where can I find a list of repositories which contain Django apps?

%ul
  %li Here is a short list:
  %li 
    %a(href='https://github.com/heroku/python-getting-started' target='x')
      https://github.com/heroku/python-getting-started
      
  %li 
    %a(href='https://github.com/django/djangoproject.com' target='x')
      https://github.com/django/djangoproject.com
      
  %li 
    %a(href='https://github.com/danbikle/dj101' target='x')
      https://github.com/danbikle/dj101
      
  %li 
    %a(href='https://github.com/lucastheis/django-publications' target='x')
      https://github.com/lucastheis/django-publications
      
  %li 
    %a(href='https://github.com/djangopackages/djangopackages' target='x')
      https://github.com/djangopackages/djangopackages
      
  %li 
    %a(href='https://www.django-cms.org/en/' target='x')
      https://www.django-cms.org/en/
      
  %li 
    %a(href='http://djedi-cms.org' target='x')
      http://djedi-cms.org
      
  %li 
    %a(href='https://github.com/feincms/feincms' target='x')
      https://github.com/feincms/feincms
      
  %li 
    %a(href='https://github.com/opps/opps' target='x')
      https://github.com/opps/opps
      
  %li 
    %a(href='https://github.com/wagtail/wagtail' target='x')
      https://github.com/wagtail/wagtail
      
  %li 
    %a(href='https://github.com/fusionbox/django-widgy' target='x')
      https://github.com/fusionbox/django-widgy
      
  %li 
    %a(href='https://github.com/wooey/wooey' target='x')
      https://github.com/wooey/wooey
      
  %li 
    %a(href='https://github.com/django-oscar/django-oscar' target='x')
      https://github.com/django-oscar/django-oscar
      
  %li 
    %a(href='https://github.com/awesto/django-shop' target='x')
      https://github.com/awesto/django-shop
      
  %li 
    %a(href='https://github.com/agiliq/merchant' target='x')
      https://github.com/agiliq/merchant
      
  %li 
    %a(href='https://github.com/shuup/shuup' target='x')
      https://github.com/shuup/shuup

  %li 
    %a(href='https://github.com/pinax/pinax' target='x')
      https://github.com/pinax/pinax

  %li 
    %a(href='https://www.google.com/search?q=django+website+github' target='x')
      https://www.google.com/search?q=django+website+github
      
  %li 
    %a(href='https://www.google.com/search?q=django+projects+for+beginners' target='x')
      https://www.google.com/search?q=django+projects+for+beginners
      
  %li 
    %a(href='https://www.google.com/search?q=best+open+source+django+projects' target='x')
      https://www.google.com/search?q=best+open+source+django+projects
      
  %li 
    %a(href='https://www.google.com/search?q=django+open+source+projects+github' target='x')
      https://www.google.com/search?q=django+open+source+projects+github
    
%hr/
%p
  %a(href='class09')
    Class09
