%h2 Class04 Answer:
%h2  Write a script which serves JSON generated from Python.

%p I created the script listed below:

.syntax
  %pre
    =render 'class04s11b'

%p I tested it:

.syntax
  %pre
    =render 'class04s11c'

%p It worked. Yay!

%p
  %a(href='class04#p1')
    Class04 Lab

