%h2 Class01 Answer:
%h2 Study Spyder

%p After I installed Anaconda, Spyder was easy to start with one shell command:

.syntax
  %pre
    %code.bash spyder

%p I saw this:

%img(src='/class01/spy1.png')
%br/
%br/
%br/

%p I created a simple script and ran it:

%img(src='/class01/spy2.png')
%br/
%br/
%br/

%img(src='/class01/spy3.png')
%br/
%br/
%br/

%p I considered that a good start with Spyder.

%p The next step I should follow would be to walk through the tutorials at this site:
%p
  %a(href='http://datasciencesource.com/python-with-spyder-tutorial/' target='x')
    http://datasciencesource.com/python-with-spyder-tutorial/
%p Also I found some reference material:
%p
  %a(href='https://pythonhosted.org/spyder/' target='x')
    https://pythonhosted.org/spyder/
  

%p
  %a(href='class01#p1')
    Class01 Lab

