%h2 Class03 Answer:
%h2 Demonstrate how to react to a URL path token

%p An example of a URL path token is the string: "IBM" in the URL below:

%p http://localhost:5000/template2/IBM

%p Flask allows me to send "IBM" to a Python function running in the server.

%p Example syntax which captures the token is listed below:

.syntax
  %pre
    =render 'class03tm16a'

%p Example template syntax is displayed below:

.syntax
  %pre
    =render 'class03tm16b'

%p
  %a(href='class03#tm')
    Class03 Lab

