%h2 Class03 Answer:
%h2 Demonstrate how to react to a URL parameter

%p An example of a URL parameter is the string: "IBM" in the URL below:

%p http://localhost:5000/template3/?tkr=IBM

%p Flask allows me to send "IBM" to a Python function running in the server.

%p Example syntax which captures the token is listed below:

.syntax
  %pre
    =render 'class03tm20a'

%p Example template syntax is listed below:

.syntax
  %pre
    =render 'class03tm20b'

%p
  %a(href='class03#tm')
    Class03 Lab

