%h2 Class02 Homework Questions

%ul
  %li Which Python object types are similar to Lists?
  %li
    What are some ways to create a List?
  %li
    How to use pdb?
  %li
    Can I place a list in a print statement?
  %li
    How to plot a list?
  %li
    How to copy a list?
  %li
    If I copy a list, what happens to the copy if I change the original?
  %li
    How to get the 6th element of a list?
  %li
    How to get elements 3 through 7 of a list?
  %li
    How to change the 6th element of a list?
  %li
    How to concatenate two lists?
  %li
    How to do elementwise addition of two lists?
  %li
    How to delete the 6th element of a list?
  %li
    How to append 33 to a list?
  %li
    How to prepend 33 to a list?
  %li
    What does it mean to delete a list?

  %li
    How to convert a String into a List?
  %li
    How to convert a List into a String?
  %li
    In a for-loop, can I replace a List with a Tuple?
  %li
    In a for-loop, can I replace a List with a function call?
  %li
    How to read file names from a Linux folder into a List of file names?
  %li
    How to read lines from a file into a List of Strings?
  %li
    How to read strings from a List and write them into a file?
  %li
    How to read a CSV file into a List of Lists?
%p
  %a(href='/cclasses/class02') Class02
