%h2 Class09 Answer:
%h2 Why use Django?

%ul
  %li Django reduces the complexity of building and deploying web-apps.
  %li Some parts of Django are easy to learn.
  %li You can use Django to build web-products for your startup.
  %li You can use Django to learn web-technology.
  %li Django is popular:
  %li
    %ul
      %li You can easily find online answers to Django questions.
      %li You can easily find Django programmers.
      %li You can find work as a Django programmer.
  
%p
  %a(href='class09')
    Class09

