%h2 Class04 Answer:
%h2 Run the script and debug the problem

%p I ran the script. I saw a problem:

.syntax
  %pre
    =render 'class04s10c'

%p The Flask-server told me that I asked for a JSON file which does not exist.

%p So I used a simple shell command to create the JSON file:

.syntax
  %pre
    %code.bash echo "{'Hello': 'World'}" > ~ann/fr10/static/hello.json

%p I tried curl again and the problem was gone:

.syntax
  %pre
    =render 'class04s10d'


%p
  %a(href='class04#p1')
    Class04 Lab

