%h2 Class03 Answer:
%h2 Deploy github.com/danbikle/flask11 to Heroku

%p I did this lab and it required 5 shell commands:

.syntax
  %pre
    =render 'class03her25'

%p I saw this:

.syntax
  %pre
    =render 'class03her26'

%p I tried this URL:
%p
  %a(href='https://radiant-dusk-99271.herokuapp.com' target='x')
    https://radiant-dusk-99271.herokuapp.com

%p I saw this:

%img(src='/class03/b282.png')

%hr/

%p
  %a(href='class03#fr')
    Class03 Lab

