%h2 Class01 Lab Answer:
%h2 Study gedit editor

%p For many students, the gedit editor is a good choice.
%p It is easy to use.

%p I start the editor by clicking an icon on the left:

%img(src='/images/class01ged2.png')

%p I should see something like this window appear:

%img(src='/images/class01ged3.png')
%hr/

%p I should type Python into it, save it, and then run the Python from a terminal window:

%img(src='/images/class01ged4.png')
%hr/
%img(src='/images/class01ter1.png')
%hr/


%p
  %a(href='class01#p1')
    Class01 Lab
