%h2 Class01 Answer:
%h2 Plot IBM Prices For 2016-11

%p I did this lab and it was easy.

%p I wrote this script:

.syntax
  %pre
    =render 'class01ply2'

%p I ran the script and saw this:

%img(src='/class01/c1p1.png')

%p The script has a bug.

%p Do you see it?

%p If you see the bug, how should I fix it?

%p
  %a(href='class01#p1')
    Class01 Lab

