%h2 Class08 Answer:
%h2 In the repo, locate script: word2vec_basic.py
%p This is easy:
.syntax
  %pre
    %code.bash
      cd ~
      cd tensorflow
      find . -name word2vec_basic.py -print

%p
  %a(href='class08#lab')
    Class08
