%h2 Class10 Answer:
%h2 Install the Heroku CLI in the reqp Linux account.

%p I did this exercise from the reqp account in my Ubuntu 16 virtualbox:

.syntax
  %pre
    %code.bash
      cd ~reqp/
      wget https://cli-assets.heroku.com/heroku-cli/channels/stable/heroku-cli-linux-x64.tar.gz -O heroku.tar.gz
      tar -xvzf heroku.tar.gz
      ln -s heroku-cli*linux-x64 heroku
      echo 'export PATH=${HOME}/heroku/bin:$PATH' >> ~reqp/.bashrc


%p
  %a(href='class10#lab')
    Class10
