%h2 Class10 Answer:
%h2 Issue shell commands to create Linux account: 'reqp'.

%p I did this exercise from the ann account in my Ubuntu 16 virtualbox:

.syntax
  %pre
    %code.bash
      sudo useradd -m -s /bin/bash -G sudo reqp
      sudo passwd reqp
      ssh reqp@localhost
      cp ~ann/.emacs ~reqp/

      
%p
  %a(href='class10#lab')
    Class10
