%h2 Class08 Answer:
%h2 Try to understand output from the script.
%p I looked at the last line of the output and saw this:

.syntax
  %pre
    =render 'class08try1'

%p I interpret that output to mean that the word2vec algorithm thinks that the words:
.syntax
  %pre
    %code.bash some, these, several, other, all, most, both, abet,

%p are the words which are "Nearest" to the word: "many".

%p Perhaps the output would make more sense to me if I had a clear definition of what "Nearest" means.

%p I think that "Nearest" might mean that the Nearest words are synonyms, or physically near, or the same type of word (such as a number).

%p Also the script created a visualization in the form of an image:

%img(src='/class08/tsne.png' width='1300' height='2222')

%p
  %a(href='class08#lab')
    Class08
