%h2 Class01 Answer:
%p Which packages interest you the most?

%p A list of Anaconda packages is available below:

%p
  %a(href='https://docs.anaconda.com/anaconda/packages/py3.6_linux-64' target='x')
    https://docs.anaconda.com/anaconda/packages/py3.6_linux-64

%p My interest is shaped by the types of apps I want to build.

%p I prefer to build apps which blend Machine Learning, Web Technology and Finance:
%ul
  %li
    %a(href='http://www.google.com/search?q=python+beautifulsoup4' target='x')
      http://www.google.com/search?q=python+beautifulsoup4
  
  %li
    %a(href='http://www.google.com/search?q=python+bokeh' target='x')
      http://www.google.com/search?q=python+bokeh
  
  %li
    %a(href='http://www.google.com/search?q=python+cryptography' target='x')
      http://www.google.com/search?q=python+cryptography
  
  %li
    %a(href='http://www.google.com/search?q=python+flask' target='x')
      http://www.google.com/search?q=python+flask
  
  %li
    %a(href='http://www.google.com/search?q=python+gunicorn' target='x')
      http://www.google.com/search?q=python+gunicorn
  
  %li
    %a(href='http://www.google.com/search?q=python+hdf5' target='x')
      http://www.google.com/search?q=python+hdf5
  
  %li
    %a(href='http://www.google.com/search?q=python+matplotlib' target='x')
      http://www.google.com/search?q=python+matplotlib
  
  %li
    %a(href='http://www.google.com/search?q=python+numpy' target='x')
      http://www.google.com/search?q=python+numpy
  
  %li
    %a(href='http://www.google.com/search?q=python+pandas' target='x')
      http://www.google.com/search?q=python+pandas

  %li
    %a(href='http://www.google.com/search?q=python+PyMC3' target='x')
      http://www.google.com/search?q=python+PyMC3  
  %li
    %a(href='http://www.google.com/search?q=python+pytables' target='x')
      http://www.google.com/search?q=python+pytables
  
  %li
    %a(href='http://www.google.com/search?q=python+pytz' target='x')
      http://www.google.com/search?q=python+pytz
  
  %li
    %a(href='http://www.google.com/search?q=python+requests' target='x')
      http://www.google.com/search?q=python+requests
  
  %li
    %a(href='http://www.google.com/search?q=python+scikit-learn' target='x')
      http://www.google.com/search?q=python+scikit-learn
  
  %li
    %a(href='http://www.google.com/search?q=python+scipy' target='x')
      http://www.google.com/search?q=python+scipy
  
  %li
    %a(href='http://www.google.com/search?q=python+spyder' target='x')
      http://www.google.com/search?q=python+spyder
  
  %li
    %a(href='http://www.google.com/search?q=python+sqlalchemy' target='x')
      http://www.google.com/search?q=python+sqlalchemy
  
  %li
    %a(href='http://www.google.com/search?q=python+statsmodels' target='x')
      http://www.google.com/search?q=python+statsmodels
  
  %li
    %a(href='http://www.google.com/search?q=python+tornado' target='x')
      http://www.google.com/search?q=python+tornado
  
  %li
    %a(href='http://www.google.com/search?q=python+TensorFlow' target='x')
      http://www.google.com/search?q=python+TensorFlow


%p
  %a(href='class01#q1')
    Class01 Questions

