%h2 Class01 Answer:
%h2 Copy Values Between Some Common Data Types

%p With Python, I can be effective with the Data Types listed below:

%ul
  %li Integer
  %li Float
  %li String
  %li Boolean
  %li List
  %li Dictionary
  %li DateTime
  %li Pandas DataFrame
  %li Pandas Series (similar to List)
  %li Numpy Array   (similar to List)
  

%p I wrote and ran the script listed below

.syntax
  %pre
    =render 'class01dt2'

%p
  %a(href='class01#p1')
    Class01 Lab

