%h1 Syntax Examples
%ul
  %li
    %a(href='http://www.ml4.us' target='x')
      http://www.ml4.us
  %li
    %a(href='http://www.tsds4.us' target='x')
      http://www.tsds4.us
  %li
    %a(href='http://www.syntax.us' target='x')
      http://www.syntax.us
  


