%h1 Blog
%h2 2016-11-28 Dan Bikle
%h3 bikle101@gmail.com

%p Many of the best programmers are "self-taught".

%p But is that true?

%p If I am in a quiet room by myself working through exercises in a Pyton book, is that the optimal way to learn Python?

%p I don't think so.

%p The purpose of this site is to speed up your learning process.

%p Contexts which help me learn quickly are listed below:
%ul
  %li Pain/Reward
  %li Solving problems
  %li Social situations

%hr/
%h2 Pain/Reward
%p As a student I often endured pain/reward when I found out my results on a test.
%p I found the pain associated with wrong answers on tests to be a powerful learning experience.
%p The same is true for wrong answers I give at job interviews.

%hr/
%h2 Solving problems
%p This site, python4.us, is not well suited for offering you pain and reward.
%p It can, however, offer you both problems to solve and social situations.
%p An example problem could be: "I should predict the stock market."
%p A sub-problem might be: "I should get recent stock market prices."

%hr/
%h2 Social situations
%p A social situation which significantly speeded my learning as an undergrad at Caltech was my collaboration with fellow students on homework.

%p Lectures and textbooks at Caltech certainly provided knowledge, but my conversations with peers about a difficult problem-sets in a dorm rooms forced me to learn science and engineering.

%p Another solid path towards learning I found there was getting clues and tips from knowledgeable TAs and tutors when my fellow students lacked insight.

%p When I just got pointed in the right direction with a tiny clue from a TA who did not spoon-feed the answers, then I learned.

%hr/
%h2 You
%p This site should give you three points of interaction:
%ul
  %li Problem descriptions
  %li Syntax focused at those problems
  %li A social opportunity:
  %li
    %a(href="https://groups.google.com/forum/#!forum/dan101" target='f')dan101 Forum

%p If you have questions, e-me: bikle101@gmail.com

