%h1 This Is About Python

%p I use this site to serve training content to students in my Python class.

%p This site assumes that you have some Python experience but not much.

%p If you have no Python experience but you are a diligent student, you could do well in this class.

%p The topics listed below should be studied before you attempt this class:

%ul
  %li Integer
  %li Float
  %li String
  %li Boolean
  %li List
  %li Dictionary
  %li DateTime
  %li For-loops
  %li If-else-examples
  %li Functions


%h1 Class Description:

%p In a computer-lab environment we build software projects from most popular Anaconda Python packages.

%p Why Anaconda?

%p Anaconda is a high quality Python distribution constructed by a team of experienced engineers.

%p Anaconda frees you from the chore of installing OS math libraries and Python modules.

%p This class is a project based learning opportunity. You can work solo or try to find a coding partner.

%p Half of class-time will be lecture, half will be hands-on lab.

%p During the week, between classes, you will have access to online help from the instructor and other students.

%p All the students will be encouraged to use the same VirtualBox Ubuntu 16 environment with the aim reducing cross-platform problems.

%p Students who share the same development environment will find collaboration easier.

%p Additionally the class will provide you an Ubuntu 16 AWS AMI if you want to develop and collaborate over the internet.

%p I choose Ubuntu 16 because it can run on any laptop (in theory).

%p About half my students run windows and the others run Mac.

%p Setting up a development environment on Mac is usually a smooth process.

%p On windows it is usually problematic but not impossible.

%p More details connected to setup of Ubuntu 16 development/training environment will be discussed in class01.

%p Most Anaconda Packages are listed below:

%p
  %a(href='https://docs.anaconda.com/anaconda/packages/py3.6_linux-64' target='x')
    https://docs.anaconda.com/anaconda/packages/py3.6_linux-64
  
