
<p>Contact Dan Bikle. He teaches and builds Machine Learning Applications: bikle101@gmail.com</p>
<img src='/images/danbikle_sf.jpg' />
<p>We use the dan101 Google Group to act as a class forum:</p>
<p>
  <a href='https://groups.google.com/forum/#!forum/dan101' target='x'>
    https://groups.google.com/forum/#!forum/dan101
  </a>
</p>

<p>
When class is in session, we usually meet in room F4 on 1840 Benton St in Santa Clara:
</p>
<p>
  <img src='/images/scae_map.png' />
</p>




